html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./BK.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
